<!-- About Me -->
<div class="col fourty-sixty about" id="about">
            <section>
                <img src="img/landingpage-2.jpg" alt="">
            </section>
            <section>
                <h2>About Stremler Gravel</h2>
                <h4>Our goal is to provide quality products and service for a fair and reasonable price.</h4>
                <p>Stremler gravel, a family-owned business, was started in 1984 by Virgil and Cheeta Stremler. Vigril operated a 555 John Deere dozer and Cheeta helped by driving the dump truck and doing all the book work. Stremler Gravel Incorporated was extablised in 1990 and Gordon Stremler joined the business in 1996.</p>
                <p>Today, Stremler Gravel is a major gravel supplier within Whatcom County also providing excavating, utility work (sewer, storm water, water systems, and fire lines), and site development.</p>
            </section>
        </div>
