<div class="col fourty-sixty calculator" id="calculator">
            <section>
                <img src="img/landingpage-4.jpg" alt="">
            </section>
            <section>
                <h2>Gravel Calculator</h2>
                <h4>Our gravel coverage calculator will help you get an understanding of how much you will need to order. </h4>
                <h4 class="calcTitle">Area Size:</h4>
                <form>

                    <input type="text" id="lengthFeet" placeholder="length (in feet)"></input>
                    <input type="text" id="widthFeet" placeholder="width (in feet)"></input>
                    <input type="text" id="depthInches" placeholder="depth (in inches)"></input>


                    <input type="button" value="Calculate" class="submit" onClick="calculateGravel()">

                </form>
                <h3 class="coverageh3">Estimated Tons Required: <div id="coverage"></div></h3>
            </section>
        </div>