<div class="col four-even gallery" id="projects">
            <div class="title">
                <h2>Project Gallery</h2>
            </div>
            <section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-1" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section><section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-2" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section><section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-3" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section><section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-4" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section><section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-5" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section><section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-6" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section><section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-7" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section><section class="gallery-rock">
<div class="imagecontainer"><a class="cd-btn-8" href="#0"><img src="img/gravel-1.jpg" alt=""></a></div><h4>Project Title</h4>
</section>

<!--slide content-->
<div class="cd-panel-1 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>
</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->

</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-1 -->
<div class="cd-panel-2 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>

</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->

</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-2 -->
<div class="cd-panel-3 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>

</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->

</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-3 -->
<div class="cd-panel-4 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>

</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->

</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-4 -->
<div class="cd-panel-5 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>

</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->

</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-5 -->
<div class="cd-panel-6 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>

</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->

</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-6 -->
<div class="cd-panel-7 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>

</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->

</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-7 -->
<div class="cd-panel-8 from-right"><header class="cd-panel-header">
<a class="cd-panel-close" href="#0">X</a>

</header>
<div class="cd-panel-container">
<div class="cd-panel-content">
<h1>Title Goes Here</h1>
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">
<img src="img/gravel-1.jpg" alt="">

</div>
<!-- cd-panel-content -->
</div>
<!-- cd-panel-container -->

</div>
<!-- cd-panel-8 -->
        </div>