<div class="body_container">

        <div class="col three-even services" id="services">
            <div class="title">
                <h2>Services We Offer</h2>
            </div>
            <section>
            	<img src="img/resident.jpg" alt="">
                {% for post in site.categories.waterline %}
    			{{ post.content }}
		{% endfor %}
            </section>
            <section>
                <img src="img/sitedev.jpg" alt="">
                {% for post in site.categories.sitedev %}
    			{{ post.content }}
		{% endfor %}
            </section>
            <section>
                <img src="img/roadconstruction.jpg" alt="">
                {% for post in site.categories.road %}
    			{{ post.content }}
		{% endfor %}
            </section>

        </div>
